# Facilities Services Internal, FMC Grounds Landscape Evaluation

AuthType Shibboleth
ShibCompatWith24 on 
ShibRequireSession on
ShibRequestSetting redirectToSSL 443
require shib-attr isMemberOf urn:mace:washington.edu:groups:u_uwes_gis_web_site_host_fmc_grounds