/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
    margin-left: 5%;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }


#uw-container .section .span_1_of_3 a, img{
    margin: auto;
    align-content: center;
    text-align: center;
    width: 80%;
}

#uw-container h1 {
    text-align: center;
    font-family: monospace;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 1080px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 50%; }
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 720px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}