
/* Not in our normal CSS; custom */
 
body #uw-container {
  font-size: 17px;  
  line-height: 1.72222;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  line-height: 29px;
  cursor: pointer;
}


/* Required bootstrap grid */


.visible-xs {
  display: none !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  .hidden-xs {
    display: none !important;
  }
}

}
.row {
  margin-right: -15%;
  margin-left: -15%;
}

/* Bootstrap Mixin */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Added code for tables*/
/* quick reset */
/* {
  margin: 0;
  padding: 0;
  border: 0;
}*/

/* relevant styles */
.img__wrap {
  height: 80%;
  width: 80%;
  
}

.img__description {
  position: center;
  text-align: center;
  text-decoration: none
  top: 0;
  bottom: 0;
  background: none;
  color: #000000;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

/*.centerTable { margin: 0px auto; }*/




/*Added Code for Grids*/

* {
    box-sizing: border-box;
    align-items: stretch;
	grid-template-columns: repeat(12, 1fr);
}


/* ...small styles here... */ 
@media screen and (min-width: 400px) {

.column {
    float: left;
    width: 100%;
    padding: 10px;
}

.pic {
    float: center;
    width: 100%;
    padding: 0px;
}

.rlist {
    float: center;
}

.llist {
    float: center;
}

.button {
	height:50%;
	width:50%;
}
/* ...medium styles here... */ 
@media screen and (min-width: 1000px) {

.column {
    float: center;
    width: 50%;
}

.pic {
    float: center;
    width: 90%;
    padding: 5px;
}

.rlist {
    float: right;
     width: 45%;
    padding-right: 10%;
}

.llist {
    float: left;
    width: 45%;
    padding-left: 10%;
}

.button {
	height:40%;
	width: 40%;
}

/* ...large styles here...*/ 
@media screen and (min-width: 1300px) {

.column {
    float: center;
    width: 33.33%;
    padding: 10px;
	
}
.pic {
    float: center;
    width: 27.5%;
    padding: 10px;
}

.rlist {
    float: right;
    width: 47%;
    padding-right: 20%;
}

.llist {
    float: left;
    width: 47%;
    padding-left: 20%;
}
.button {
	height:25%;
	width:25%;
}
}
/* hover effect and dashboard appearance here*/
.hovereffect {
  width: 90%;
  height: 90%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #4b2e83;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 0px 0px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 10px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
}