/*@import url("structure.css");*/

@font-face {
  font-family: 'Encode Sans Compressed';
  src: url('../assets/fonts/encodesanscompressed-600-semibold-webfont.eot');
  src: url('../assets/fonts/encodesanscompressed-600-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/encodesanscompressed-600-semibold-webfont.woff') format('woff'), url('../assets/fonts/encodesanscompressed-600-semibold-webfont.ttf') format('truetype'), url('../assets/fonts/encodesanscompressed-600-semibold-webfont.svg#encodesanscompressed-600-semibold-webfont') format('svg');
  font-weight: 600;
font-style: normal;}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
    margin-left: 5%;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }


#uw-container .section .span_1_of_3 a, img{
    margin: auto;
    align-content: center;
    text-align: center;
    width: 80%;
}

#uw-container h1 {
    text-align: center;
    font-family: monospace;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 700px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 80%; }
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 1200px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}