header {
  margin: 0;
  padding: 0;
  background-color:#4b2e83;
}
header p {
  color: white;
  font-family: 'Encode Sans', sans-serif;
  font-size: 250%;
}
table#t-1 td, tr {
  border: none;
  padding: 0px;
  text-align:left; 
  overflow:hidden; 
  padding-left:5px; 
  padding-top:0px;
}

body {
  margin: 0;
  padding: 0;
  background-color:'white';
  font-family: 'Open Sans', sans-serif;
}
table {
  width:100%;
  color: black;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
#t02 {
  margin-bottom: 70px;
  width: 50%;
}
table#t01 tr:nth-child(odd) {
  background-color:#fff;
}
table#t01 th {
  background-color: #DAD8D8  ;
  font-family: 'Encode Sans', sans-serif;
}
table#t02 tr:nth-child(even) {
  background-color: #eee;
}
table#t02 tr:nth-child(odd) {
  background-color:#fff;
}
table#t02 th {
  background-color: #DAD8D8  ;
  font-family: 'Encode Sans', sans-serif;
}
footer {
  text-align: center;
}
