# Facilities Services Internal, FABS EIO Home

AuthType Shibboleth
ShibCompatWith24 on 
ShibRequireSession on
ShibRequestSetting redirectToSSL 443
require shib-attr isMemberOf urn:mace:washington.edu:groups:u_uwes_gis_web_site_host_fabs_eio

RewriteEngine on
RewriteRule ^(.*)$ https://depts.washington.edu/ceogis/FacilitiesServicesGIS/Departments/FABS-EIO [R=301,L]